/* Base Styles */

[data-selector="header"] [data-selector='color_bar'] {
    display: inline-block;
}

[data-selector="header"] [data-target='bar_1'] {
    height: 10px;
}

[data-selector="header"] [data-target='bar_2'] {
    height: 10vh;
    background-color: var(--yuma);
}

/**** Profiles *****/

/* One */

[data-selector="header"][data-target='bg_1'] {
    background-color: var(--manhattan);
}

[data-selector="header"][data-target='bg_1'] [data-target='bar_1'] {
    background-color: var(--acid);
}

[data-selector="header"][data-target='bg_1'] [data-target='bar_2'] {
    background-color: var(--gem);
}

/* Two */

[data-selector="header"][data-target='bg_2'] {
    background-color: var(--yuma);
}

[data-selector="header"][data-target='bg_2'] [data-target='bar_1'] {
    background-color: var(--caper);
}

[data-selector="header"][data-target='bg_2'] [data-target='bar_2'] {
    background-color: var(--manhattan);
}

/* Three */

[data-selector="header"][data-target='bg_3'] {
    background-color: var(--caper);
}

[data-selector="header"][data-target='bg_3'] [data-target='bar_1'] {
    background-color: var(--dusk);
}

[data-selector="header"][data-target='bg_3'] [data-target='bar_2'] {
    background-color: var(--shiloh);
}

/* Four */

[data-selector="header"][data-target='bg_4'] {
    background-color: var(--kelly);
}

[data-selector="header"][data-target='bg_4'] [data-target='bar_1'] {
    background-color: var(--caper);
}

[data-selector="header"][data-target='bg_4'] [data-target='bar_2'] {
    background-color: var(--manhattan);
}

/* Five */

[data-selector="header"][data-target='bg_5'] {
    background-color: var(--shiloh);
}

[data-selector="header"][data-target='bg_5'] [data-target='bar_1'] {
    background-color: var(--caper);
}

[data-selector="header"][data-target='bg_5'] [data-target='bar_2'] {
    background-color: var(--manhattan);
}

/* Six */

[data-selector="header"][data-target='bg_6'] {
    background-color: var(--tiffany);
}

[data-selector="header"][data-target='bg_6'] [data-target='bar_1'] {
    background-color: var(--manhattan);
}

[data-selector="header"][data-target='bg_6'] [data-target='bar_2'] {
    background-color: var(--acid);
}

/* seven */

[data-selector="header"][data-target='bg_7'] {
    background-color: var(--gem);
}

[data-selector="header"][data-target='bg_7'] [data-target='bar_1'] {
    background-color: var(--manhattan);
}

[data-selector="header"][data-target='bg_7'] [data-target='bar_2'] {
    background-color: var(--tiffany);
}