:root {
    --manhattan: #f6c6a2;
    --yuma: #c5bf8d;
    --caper: #d4eca0;
    --kelly: #6eb279;
    --shiloh: #e1a8b7;
    --acid: #fcff29;
    --gem: #188bf8;
    --phantasm: #b0b4c0;
    --hoodie: #dde1ed;
    --knight: #121212;
    --primary_font: 'Work Sans', sans-serif;
    --special_font: "bermanbold";
}