/* Background Colors */

.bg_manhattan {
    background: var(--manhattan);
}

.bg_hoodie {
    background: var(--hoodie);
}

/* Font Colors */

.cl_knight {
    color: var(--knight);
}

/* Color Pairings Variants */

[data-selector="header"][data-target='bg_1'] {
    background-color: var(--manhattan);
}

[data-selector="header"][data-target='bg_2'] {
    background-color: var(--yuma);
}

[data-selector="header"][data-target='bg_3'] {
    background-color: var(--caper);
}

[data-selector="header"][data-target='bg_4'] {
    background-color: var(--kelly);
}

[data-selector="header"][data-target='bg_5'] {
    background-color: var(--shiloh);
}

[data-selector="header"][data-target='bg_6'] {
    background-color: var(--acid);
}

[data-selector="header"][data-target='bg_7'] {
    background-color: var(--gem);
}