.header {
    display: grid;
    grid-template-rows: minmax(90vh, 300px);
    grid-template-columns: 1fr;
    align-items: center;
    border-bottom: 10vh solid transparent;
}

.logo {
    font-family: var(--special_font);
    font-size: 75px;
}

