.header {
    display: grid;
    grid-template-rows: minmax(500px, 200px);
    grid-template-columns: 1fr;
    align-items: center;
}

.logo {
    font-family: var(--special_font);
    font-size: 75px;
    color: var(--knight);
}

