/* Padding */

.p_md {
    padding: 25px;
}

.p_sm--x10 {
    padding: 10px 25px;
}

/* Margins */

.m_md {
    margin: 25px;
}

.m_md--y0 {
    margin: 25px 0;
}

.m_lg--y0 {
    margin: 50px 0;
}

.m_xl--y0 {
    margin: 75px 0;
}